 @media screen and (max-width: 768px) {
    th, td {
      padding: 5px;
      font-size: smaller;
      color: red;
    }
  }
  table {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .search {
    cursor: pointer;
  } */
  table {
    width: 100%;
   }
   #btnList {
     width: 100px;
     height: 40px;
   }
  